@import "./src/Shared/helper";

.SearchMain{
  width: 86vw;
  height: px(500);
  position: fixed;
  left: px(335);
  top: 0;
  background-image: url("../../assets/pexels-philippe-donn-1169754.jpg");
  background-size: 100%  px(400);
  display: flex;
  align-items: center;
  justify-content: center;
  .Toggle-Top{
    display: flex;
    .Toggle{
      list-style: none;
      color: #d1d1d0;
      font-size: 18px;
      padding-bottom: px(5);
      margin: 0 px(30);
      user-select: none;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
    }
    .Toggle:hover{
      color: white;
    }
    .Toggle-usually:after, .Toggle-search:after, .Toggle-toggle:after,
    .Toggle-community:after, .Toggle-life:after, .Toggle-work:after{
      content: '';
      height:px(6);
      width: px(6);
      border-radius: 50%;
      position:absolute;
      top: 30px;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: white;
      transition: .3s;
      opacity: 0;
    }
    #active:after{
      opacity: 0;
    }
    .Toggle:hover:after{
      opacity: 1;
    }
  }
  .Toggle-scroll{
    display: inline-block;
    width: px(50);
    height: px(8);
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: px(270);
    left: px(680);
    transition: all 0.3s;
  }

}