@import "./src/Shared/helper";


.TopNavAll{
  .TopNav{
    width:86vw;
    height: px(100);
    position: fixed;
    top: 0;
    left: px(335);
    transition: rgba(256,256,256,0.1);
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #999999;
    justify-content: space-between;
    .CityAndWeather{
      cursor: pointer;
      margin-left: px(50);
      display: flex;
      align-items: center;
      .Weather-GitHub{
        margin-left: px(50);
        text-decoration: none;
        color: #888888;
        font-size: 18px;
      }
    }
    .FontAndSearch{
      margin-right: px(50);
      display: flex;
      align-items: center;
      strong{
        margin-right: px(50);
        display: inline-block;
        user-select: none;

      }
      .TopNav-sousuo{
        font-weight: 600;
        font-size: 24px;
        color:#888888 ;
        cursor: pointer;
      }
      .TopNav-sousuo:hover{
        transition: all 0.5s;
        color: #F1404B;
      }
    }

  }

}
