@font-face {
  font-family: "iconfont"; /* Project id 3579814 */
  src: url('iconfont.woff2?t=1661435483729') format('woff2'),
       url('iconfont.woff?t=1661435483729') format('woff'),
       url('iconfont.ttf?t=1661435483729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian:before {
  content: "\e70f";
}

.icon-quxiao:before {
  content: "\e625";
}

.icon-github:before {
  content: "\e677";
}

