@import "./src/Shared/helper";

.mainPage {
  width: 85%;
  min-height: 100%;
  background-color: #f0f0f0f0;
  position: absolute;
  top: px(100);
  left: px(335);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.applyContain{
  width: 80%;
  min-height: px(200);
  background-color: #fff;
  margin-top: px(50);
  margin-bottom: px(50);
  padding: px(30);
}
.webIcon{
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}
.applymainPage{
  width: 100%;
  display: flex;
  flex-direction: column;
  .row{
    margin-top: 20px;
  }
  .button{
    width: 20%;
    margin-top: 20px;
  }
}
.applyContain:hover{
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.title{
  font-size: 20px;
  font-weight: 700;
  width: 80%;
}