@import "./src/Shared/helper";
.FirstPage{
  scroll-behavior: smooth;
  .First-Segmented{
    position:absolute;
    left: px(380);
    top: px(670);

  }
  .SparateFreame{
    position:absolute;
    left: px(380);
    top: px(1050);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .LinkItemHot{
    position:absolute;
    left: px(360);
    top: px(750);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }

  .LinkItem-Frame{
    position:absolute;
    left: px(360);
    top: px(1100);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }
  .ProjectHosting{
    position:absolute;
    left: px(380);
    top: px(1950);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .LinkItem-ProjectHosting{
    position:absolute;
    left: px(360);
    top: px(2000);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }
  .Community{
    position:absolute;
    left: px(380);
    top: px(2300);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .LinkItem-Community{
    position:absolute;
    left: px(360);
    top: px(2350);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }
  .CMS{
    position:absolute;
    left: px(380);
    top: px(2800);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .LinkItem-CMS{
    position:absolute;
    left: px(360);
    top: px(2850);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }
  .FontIcon{
    position:absolute;
    left: px(380);
    top: px(3850);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .LinkItem-FontIcon{
    position:absolute;
    left: px(360);
    top: px(3900);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }

  .IDE{
    position:absolute;
    left: px(380);
    top: px(4500);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .LinkItem-IDE{
    position:absolute;
    left: px(360);
    top: px(4550);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }

  .onlineClass{
    position:absolute;
    left: px(380);
    top: px(4900);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .LinkItem-onlineClass{
    position:absolute;
    left: px(360);
    top: px(4950);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }
  .InspirationGathering{
    position:absolute;
    left: px(380);
    top: px(5400);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .InspirationGathering-Choose{
    position:absolute;
    left: px(380);
    top: px(5475);
  }
  .LinkItem-feelCollect{
    position:absolute;
    left: px(360);
    top: px(5550);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }
  .cloudServe{
    position:absolute;
    left: px(380);
    top: px(5750);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .LinkItem-cloudServe{
    position:absolute;
    left: px(360);
    top: px(5800);
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin: px(15) px(30);
        list-style: none;
      }
    }
  }
  .Material{
    position:absolute;
    left: px(380);
    top: px(6100);
    span{
      font-size: 20px;
      margin-left: px(10);
      color:#5F5F5F ;
    }
    .iconfont{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .Material-Choose{
    position:absolute;
    left: px(380);
    top: px(6175);
  }
}




